.docit-list
  display -webkit-flex
  -webkit-flex-direction column
  height 100%

  button
    font-family "HelveticaNeue-Light", "Helvetica Neue"
    font-size 1em
    background white
    border none
    border-radius 0
    margin 0
    margin-bottom 0.2em
    padding 1em

  .docits
    -webkit-flex 1 0
    margin-top 0.5em
    .docit-row
      display -webkit-flex
      .edit
        background lightBlue
        color white
      .label
        text-align left
        -webkit-flex 1 0
        b
          margin-right 0.5em

  .new-docit
    background-color lightBlue
    color white