.docit-list
  display flex
  flex-direction column
  height 100%

  .docits
    flex 1 0
    margin-top 0.5em
    .docit-row
      display flex
      margin-bottom 0.2em
      .edit
        background lightBlue
        color white
      .label
        text-align left
        flex 1 0
        b
          margin-right 0.5em