lightBlue = #3175CC
green = #4BA04B
red = #EB4F4F

.red, .blue, .green
  color white
.red
  background-color red
.green
  background-color green
.blue
  background-color lightBlue

.hidden
  visibility: hidden

h1
  font-size 1.5em
  font-weight normal
  margin 0
  margin 0.3em
  text-align center

body
  margin 0
  padding 0
  background-color #eee
  font-family "HelveticaNeue-Light", "Helvetica Neue"

  button
    font-family "HelveticaNeue-Light", "Helvetica Neue"
    font-size 1em
    background white
    border none
    border-radius 0
    margin 0
    padding 1em


#main
  position absolute
  top 2.6em
  left 0
  right 0
  bottom 0
  padding 0.5em


@import "./docit-list/docit-list"
@import "./new-docit/new-docit"
@import "./banner/banner"