.new-docit
  display flex
  flex-direction column
  height 100%

  form
    flex 1 0
    margin-top: 0.5em;

  // .actions

  button
    width 100%
    margin-bottom 0.2em

    &:last-child
      margin-bottom 0